[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pedquant"]
	path = pedquant
	url = https://github.com/shichenxie/pedquant
[submodule "scorecard"]
	path = scorecard
	url = https://github.com/shichenxie/scorecard
[submodule "xefun"]
	path = xefun
	url = https://github.com/shichenxie/xefun
